<h1>Welcome!</h1>

**LOGIN PAGE?**

<h3>Search by User Name:</h3>

<%= form_tag('/users/search', method: "get") do %>
  <%= label_tag :search %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search" %><br>
  <small><b><i>Spelling and Capitalization Sensitive</i></b></small>
<% end %>
