<h1>Wilderness Users' Page</h1>

<h3>Find User by Email:</h3>
  <%= form_tag('/users/search', method: "get") do %>
    <h6>Search</h6>
    <%= text_field_tag :search %>
    <%= submit_tag %><br>
    <small color="white"><b><i>Spelling and Capitalization Sensitive</i></b></small>
  <% end %>
