<h1>User Search Results</h1>
<% if current_user %>
  <h3><%= link_to @user.name, "/users/#{@user.id}/profile" %></h3>
<% else %>
  <h3><%= link_to @user.name, @user %></h3>
<% end %>
<%= link_to "Go Back", users_path %>
