<div class="new-box">
  <div class="col-4 offset-4 text-center">
    <h2>Destination Search Results</h2>
      <% if @destination == nil %>
        <h4>Invalid Search - Destination Not Found</h4>
      <% else %>
        <h4><%= link_to @destination.name, @destination %></h4>
      <% end %>
    <p><b><%= link_to "Go Back", destinations_path %></b></p>
  </div>
</div>
