/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

body {
     margin: 0;
     background-attachment: url('https://i.vimeocdn.com/video/601180823_1280x720.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     display: compact;
   }

.new-box{
  border: double;
  background: linear-gradient(to bottom, #666633 0%, #003300 100%);;
}
